<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/mainlayout.css">
        <link rel="stylesheet" href="../static/css/assignments.css">
        <link rel="stylesheet" href="../static/css/card.css">
        <link rel="stylesheet" href="../static/css/table.css">
        
    </head>
    <body>
        <!-- Header Navigation Bar -->
        <header>
            <div id="headerNav">
                <h3 id="navTitle">CSCB63</h3>
                <nav>
                    <ul class="desktopList">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./index.html#courseTeam">Course Team</a></li>
                        <li><a href="./assignments.html">Assignments</a></li>
                        <li><a href="./assignments.html#labs">Labs</a></li>
                        <li><a href="./assignments.html#feedback">Feedback</a></li>
                        <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb63w21" target="_blank">MarkUs</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Page Content -->
        <div class="content">
            <!-- Assignments Card -->
            <div class="card">
                <h1 class="cardTitle">
                    Assignments
                </h1>
                <div class="cardContent">
                </div>
            </div>
            <!-- Labs Card -->
            <div class="card">
                <h1 class="cardTitle">
                    <a name="#labs">
                        Labs
                    </a>
                </h1>
                <div class="cardContent">
                </div>
            </div>
            <!-- Feedback Card -->
            <div class="card">
                <h1 class="cardTitle">
                    <a name="#feedback">
                        Feedback
                    </a>
                </h1>
                <div class="cardContent">
                </div>
            </div>
        </div>
        <!-- Footer Credits -->
        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>