<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/mainlayout.css">
        <link rel="stylesheet" href="../static/css/courseWork.css">
        <link rel="stylesheet" href="../static/css/card.css">
        <link rel="stylesheet" href="../static/css/table.css">
        
    </head>
    <body>
        <!-- Header Navigation Bar -->
        <header>
            <div id="headerNav">
                <h3 id="navTitle">CSCB63</h3>
                <nav>
                    <ul class="desktopList">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./lectures.html">Lectures & Tutorials</a></li>
                        <li><a href="./courseWork.html">Course Work</a></li>
                        <li><a href="https://forms.gle/YGwBkKVCyoEG7zbGA" target="_blank">Feedback</a></li>
                        <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb63w21" target="_blank">MarkUs</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="assignmentPageTitle">Course Work</h1>
            <!-- Tests Card -->
            <div class="card">
                <a name="tests" href="./courseWork.html#tests" class="links">
                    <h1 class="cardTitle">
                        
                        Assignments
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #1:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #2:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #3:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <span class="text">Solutions (Coming Soon)</span>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #4:</span> Handout (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                </div>
            </div>
            <!-- Assignments Card -->
            <div class="card">
                <a name="assignments" href="./courseWork.html#assignments" class="links">
                    <h1 class="cardTitle">
                        
                        Tests
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #1:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Questions</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #2:</span> Questions (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #3:</span> Questions (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Credits -->
        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>