<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Course Work</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/courseWork.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="assignmentPageTitle">Course Work</h1>
            <!-- Tests Card -->
            <div class="card">
                <a name="assignments" href="{{url_for('.coursework')}}#assignments" class="links">
                    <h1 class="cardTitle">
                        
                        Assignments
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #1:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #2:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #3:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Handout</a> 
                            | <span class="text">Solutions (Coming Soon)</span>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Assignment #4:</span> Handout (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                </div>
            </div>
            <!-- Assignments Card -->
            <div class="card">
                <a name="tests" href="{{url_for('.coursework')}}#tests" class="links">
                    <h1 class="cardTitle">
                        
                        Tests
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #1:</span> <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Questions</a> 
                            | <a href="../pdfs/assignments/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #2:</span> Questions (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Term Test #3:</span> Questions (Coming Soon) | Solutions (Coming Soon)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>