<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!-- TODO:::: FIX SYLLABUS PDF ADD QUERY FOR PDF ROUTE -->

        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            {% if name %}
                <h1 class="title">Hello, {{name}}</h1>
            {% else %}
                <h1 class="title">Design and Analysis of Data Structures</h1>
            {% endif %}
            <!-- Course Info Card -->
            <div class="card">
                <a name="courseInfo" href="{{url_for('.home')}}#courseInfo" class="links">
                    <h1 class="cardTitle">
                    About CSCB63...
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                        Design, analysis, implementation and comparison of efficient data structures for common abstract data types. 
                        Priority queues: heaps and mergeable heaps. <br/> Dictionaries: balanced binary search trees, B-trees, hashing.
                        Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. <br/>Graph searches.
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>Exclusions: CSC263H, CSC265H, (CSCC78H)</p>
                        <p>Prerequisites: CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]</p>
                    </div>
                    <div class="cardSection">
                        <p><b>Resources</b></p>
                        {% if pdf %}
                            <p><a href="/pdfs/{{pdf}}" class="syllabus" target="_blank">Syllabus</a></p>
                        {% else %}
                            <p>Syllabus(None Yet)</p>
                        {% endif %}
                        <p>Latex: <a href="http://latex-project.org/ftp.html" class="links" target="_blank">Installation links</a></p>
                        <p>Latex Guide: <a href="http://tobi.oetiker.ch/lshort/lshort.pdf" class="links" target="_blank">Download</a></p>
                        <p>Latex Template: <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex" class="links" target="_blank">template.tex</a></p>
                    </div>
                </div>
            </div>
            <!-- Instructor and Timetable Card -->
            {% if instructor %}
                <div class="multiCard">
                    <!-- Instructor Card-->
                    <div class="card" id="multi-left">
                        <a name="instructor" href="{{url_for('.home')}}#instructor" class="links">
                            <h1 class="cardTitle">Your Instructor
                            </h1>
                        </a>
                        <div class="cardContent" id="instructorGrid">
                            <div class="cardPicture">
                                {% if instructor[0]["instructor_picture"] %}
                                    <img src="data:image/png;base64,{{instructor[0]["instructor_picture"]}}" alt="Picture of Instructor" class="picture">
                                {% else %}
                                    <img src="../static/placeholder.png" class="picture" alt="Picture of Instructor">
                                {% endif %}
                            </div>
                            <div class="cardPicture">
                                <b><p>{{instructor[0]["first_name"]}} {{instructor[0]["last_name"]}}</p></b>
                                <p>Email: <a href="mailto:{{instructor[0]["email"]}}" class="links">{{instructor[0]["email"]}}</a></p>
                                {% if instructor [0]["office"]%}
                                    <p>Office: {{instructor[0]["office"]}}</p>
                                {% else %}
                                    <p>Office: Professor has yet to set</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Timetable Card -->
                    <div class="card" id="multi">
                        <a name="timetable" href="{{url_for('.home')}}#timetable" class="links">
                        <h1 class="cardTitle">
                        Timetable
                        </h1>
                        </a>
                        <div class="cardContent">
                            <div class="cardSection">
                                <p>Lecture Times:</p>
                                {% if instructor[0]["first_lecture_time"] %}
                                    {% if instructor[0]["first_lecture_link"] %}
                                        <p><a href="{{instructor[0]["first_lecture_link"]}}" target="_blank" class="links">{{instructor[0]["first_lecture_time"]}}</a></p>
                                    {% else %}
                                        <p>{{instructor[0]["first_lecture_time"]}}</p>
                                    {% endif %}
                                {% else %}
                                    <p>Unknown for now</p>
                                {% endif %} 
                                {% if instructor[0]["second_lecture_time"]%}
                                    {% if instructor[0]["second_lecture_link"] %}
                                        <p><a href="{{instructor[0]["second_lecture_link"]}}" target="_blank"class="links">{{instructor[0]["second_lecture_time"]}}</a></p>
                                    {% else %}
                                        <p>{{instructor[0]["second_lecture_time"]}}</p>
                                    {% endif %}
                                {% else %}
                                    <p>Professor has yet to set</p>
                                {% endif %}
                            </div>
                            <div class="cardSection">
                                <p>Office Hours:</p>
                                {% if instructor[0]["office_hours"] %}
                                    {% if instructor[0]["office_hours_link"] %}
                                        <p><a href="{{instructor[0]["office_hours_link"]}}" target="_blank" class="links">{{instructor[0]["office_hours"]}}</a></p>
                                    {% else %}
                                        <p>{{instructor[0]["office_hours"]}}</p>
                                    {% endif %}
                                {% else %}
                                    <p>Unknown for now</p>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Course Team Card -->
            <div class="card">
                <a name="courseTeam" href="{{url_for('.home')}}#courseTeam" class="links">
                    <h1 class="cardTitle">Course Team
                    </h1>
                </a>
                <div class="cardContent" id="teamGrid">
                    {% for ta in tas %}
                        {% if ta["first_name"] != "null" %}
                            <div class="cardPicture">
                                {% if ta["ta_picture"] %}
                                    <img src="data:image/png;base64,{{ta["ta_picture"]}}" alt="Picture of TA" class="picture">
                                {% else %}
                                    <img src="../static/placeholder.png" class="picture" alt="Picture of TA">
                                {% endif %}
                                <b><p>{{ta["first_name"]}} {{ta["last_name"]}}</p></b>
                                <p>TA</p>
                                {% if ta["office_hours"]%}
                                    {% if ta["office_hours_link"] %}
                                        <p>OH: <a href="{{ta["office_hours_link"]}}" class="links">{{ta["office_hours"]}}</a></p>
                                    {% else %}
                                        <p>OH: {{ta["office_hours"]}} </p>
                                    {% endif %}
                                {% else %}
                                    <p>OH: None</p>
                                {% endif %} 
                                {% if ta["tutorial_hours"]%}
                                    {% if ta["tutorial_link"] %}
                                        <p>Tutorial: <a href="{{ta["tutorial_link"]}}" class="links"> {{ta["tutorial_hours"]}}</a></p>
                                    {% else %}
                                        <p>Tutorial: {{ta["tutorial_hours"]}}</p>
                                    {% endif %}
                                {% else %}
                                    <p>Tutorials: None</p>
                                {% endif %}
                                <p>Email: <a href="mailto:{{ta["email"]}}" class="links">{{ta["email"]}}</a></p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Calendar Card -->
            <div class="card">
                <a name="calendar" href="{{url_for('.home')}}#calendar" class="links">
                    <h1 class="cardTitle">
                    Calendar
                    </h1>
                </a>
                <div class="cardContent">
                    <iframe id="desktopCalendar" 
                        src="https://open-web-calendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2Ff2oogqnfo1q728k3lcbtr4v478%2540group.calendar.google.com%2Fpublic%2Fbasic.ics&amp;css=.event%2C%20.dhx_cal_tab.active%2C%20.dhx_cal_tab.active%3Ahover%20%7Bbackground-color%3A%20%23002A5C%3B%7D%20.dhx_month_head%2C%20.dhx_cal_tab%2C%20.dhx_cal_today_button%20%7Bcolor%3A%20%23002A5C%3B%7D%20.dhx_cal_tab%2C%20.dhx_cal_tab.active%20%7Bborder-color%3A%20%23002A5C%3B%7D%0A"
                        sandbox="allow-scripts allow-same-origin allow-top-navigation"
                        allowTransparency="true" scrolling="no" 
                        frameborder="0"></iframe>
                    <iframe id="mobileCalendar" 
                        src="https://open-web-calendar.herokuapp.com/calendar.html?url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2Ff2oogqnfo1q728k3lcbtr4v478%2540group.calendar.google.com%2Fpublic%2Fbasic.ics&amp;css=.event%2C%20.dhx_cal_tab.active%2C%20.dhx_cal_tab.active%3Ahover%20%7Bbackground-color%3A%20%23002A5C%3B%7D%20.dhx_month_head%2C%20.dhx_cal_tab%2C%20.dhx_cal_today_button%20%7Bcolor%3A%20%23002A5C%3B%7D%20.dhx_cal_tab%2C%20.dhx_cal_tab.active%20%7Bborder-color%3A%20%23002A5C%3B%7D%0A&amp;tab=day"
                        sandbox="allow-scripts allow-same-origin allow-top-navigation"
                        allowTransparency="true" scrolling="no" 
                        frameborder="0"></iframe>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>