<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/mainlayout.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/card.css">
        <link rel="stylesheet" href="../static/css/table.css">
    </head>
    <body>
        <!-- Header Navigation Bar -->
        <header>
            <div id="headerNav">
                <h3 id="navTitle">CSCB63</h3>
                <nav>
                    <ul class="desktopList">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./index.html#courseTeam">Course Team</a></li>
                        <li><a href="./assignments.html">Assignments</a></li>
                        <li><a href="./assignments.html#labs">Labs</a></li>
                        <li><a href="./assignments.html#feedback">Feedback</a></li>
                        <li><a href="./syllabus.html">Syllabus</a></li>
                        <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb63w21" target="_blank">MarkUs</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Page Content -->
        <div class="content">
            <h1 id="courseTitle">Design and Analysis of Data Structures</h1>
            <!-- Course Info Card -->
            <div class="card">
                <a name="courseInfo" href="./index.html#courseInfo" class="titleLink">
                    <h1 class="cardTitle">
                    About CSCB63...
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                        Design, analysis, implementation and comparison of efficient data structures for common abstract data types. 
                        Priority queues: heaps and mergeable heaps. <br/> Dictionaries: balanced binary search trees, B-trees, hashing.
                        Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. <br/>Graph searches.
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>Exclusions: CSC263H, CSC265H, (CSCC78H)</p>
                        <p>Prerequisites: CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POST]</p>
                    </div>
                    <div class="cardSection">
                        <p><b>Resources</b></p>
                        <p>Latex: <a href="http://latex-project.org/ftp.html" class="links">Installation Link</a></p>
                        <p>Latex Guide: <a href="http://tobi.oetiker.ch/lshort/lshort.pdf" class="links">Download</a></p>
                        <p>Latex Template: <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex" class="links">template.tex</a></p>
                    </div>
                </div>
            </div>
            <!-- Instructor and Timetable Card -->
            <div class="multiCard">
                <!-- Instructor Card-->
                <div class="card">
                    <a name="instructor" href="./index.html#instructor" class="titleLink">
                        <h1 class="cardTitle">Instructor
                        </h1>
                    </a>
                    <div class="cardContent" id="instructorGrid">
                        <div class="cardPicture">
                            <img src="https://www.utsc.utoronto.ca/cms/sites/utsc.utoronto.ca.cms/files/styles/person-thumbnail/public/Anna_Bretscher.jpg?itok=fsOxaRe6" alt="Picture of Prof">
                        </div>
                        <div class="cardPicture">
                            <b><p>Dr. Anna Brestcher</p></b>
                            <p>Email: <a href="mailto:anna.bretscher@utoronto.ca" class="links">anna.bretscher@utoronto.ca</a></p>
                            <p>Office: IC 493</p>
                        </div>
                    </div>
                </div>
                <!-- Timetable Card -->
                <div class="card">
                    <a name="timetable" href="./index.html#timetable" class="titleLink">
                    <h1 class="cardTitle">
                    Timetable
                    </h1>
                    </a>
                    <div class="cardContent">
                        <div class="cardSection">
                            <p>Lecture Times:</p>
                            <p>Wednesdays: <a href="https://utoronto.zoom.us/j/89553548645" target="_blank" class="links">3:00pm - 4:00pm</a></p>
                            <p>Thursdays: <a href="https://utoronto.zoom.us/j/83378932991" target="_blank"class="links">9:00am - 11:00am</a></p>
                        </div>
                        <div class="cardSection">
                            <p>Office Hours:</p>
                            <p>Usually Monday 11:00am - 12:30pm</p>
                            <p>Friday 10:40am - 11:30am</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Course Team Card -->
            <div class="card">
                <a name="courseTeam" href="./index.html#courseTeam" class="titleLink">
                    <h1 class="cardTitle">Course Team
                    </h1>
                </a>
                <div class="cardContent" id="teamGrid">
                    <div class="cardPicture">
                        <img src="https://via.placeholder.com/150" alt="Picture of TA">
                        <b><p>Filler TA name</p></b>
                        <p>TA</p>
                        <p>OH: Monday 11 - 12:30am</p>
                        <p>Tutorial: <a href="" class="links"> Tuesday 7 - 8pm</a></p>
                        <p>Email: <a href="" class="links">filler@mail.utoronto.ca</a></p>
                    </div>
                    <div class="cardPicture">
                        <img src="https://via.placeholder.com/150" alt="Picture of TA">
                        <b><p>Filler TA name</p></b>
                        <p>TA</p>
                        <p>OH: Monday 11 - 12:30am</p>
                        <p>Tutorial: <a href="" class="links"> Wednesdays 7 - 8pm</a></p>
                        <p>Email: <a href="" class="links">filler@mail.utoronto.ca</a></p>
                    </div>
                    <div class="cardPicture">
                        <img src="https://via.placeholder.com/150" alt="Picture of TA">
                        <b><p>Filler TA name</p></b>
                        <p>TA</p>
                        <p>OH: Monday 11 - 12:30am</p>
                        <p>Tutorial: <a href="" class="links"> Thursdays 5 - 6pm</a></p>
                        <p>Email: <a href="" class="links">filler@mail.utoronto.ca</a></p>
                    </div>
                    <div class="cardPicture">
                        <img src="https://via.placeholder.com/150" alt="Picture of TA">
                        <b><p>Filler TA name</p></b>
                        <p>TA</p>
                        <p>OH: Monday 11 - 12:30am</p>
                        <p>Tutorial: <a href="" class="links"> Friday 12 - 1pm</a></p>
                        <p>Email: <a href="" class="links">filler@mail.utoronto.ca</a></p>
                    </div>
                    <div class="cardPicture">
                        <img src="https://via.placeholder.com/150" alt="Picture of TA">
                        <b><p>Filler TA name</p></b>
                        <p>TA</p>
                        <p>OH: Monday 11 - 12:30am</p>
                        <p>Tutorial: <a href="" class="links"> Friday 12 - 1pm</a></p>
                        <p>Email: <a href="" class="links">filler@mail.utoronto.ca</a></p>
                    </div>
                </div>
            </div>
            <!-- Lectures Card -->
            <div class="card">
                <a name="lectures" href="./index.html#lectures" class="titleLink">
                    <h1 class="cardTitle">
                    Lectures
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="table" id="lectures">
                        <div class="tableCell">Week</div>
                        <div class="tableCell">Topic</div>
                        <div class="tableCell">Wed Pre-Lecture Reading/Exercise</div>
                        <div class="tableCell">Thursday Pre-Lecture Reading/Exercise</div>
                        <div class="tableCell">Wednesday Slides/Video</div>
                        <div class="tableCell">Thursday Slides/Video</div>
                        
                        <div class="tableCell">1</div>
                        <div class="tableCell">Intro, Worst Case Complexity</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>

                        <div class="tableCell">2</div>
                        <div class="tableCell">Balanced Trees (AVL)</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>


                        <div class="tableCell">3</div>
                        <div class="tableCell">AVL Trees height, and Augment. Interval Trees</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>

                    
                        <div class="tableCell">4</div>
                        <div class="tableCell">Finish Interval Trees, Heaps and Graph Search Algorithms</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                
                    
                        <div class="tableCell">5</div>
                        <div class="tableCell">Graph Searches and Minimum Spanning Trees</div>
                        <div class="tableCell">Term Test Wed</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">6</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">7</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">8</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">9</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">10</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">11</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    
                    
                        <div class="tableCell">12</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/w1/w1.pdf" class="links" target="_blank">Slides</a></div>
                    </div>
                </div>
            </div>
            <!-- Tutorial Card -->
            <div class="card">
                <a name="tutorials" href="./index.html#tutorials" class="titleLink">
                    <h1 class="cardTitle">
                    Tutorials
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="table" id="tutorials">
                        <div class="tableCell">Week</div>
                        <div class="tableCell">Topic</div>
                        <div class="tableCell">Handout</div>
                        <div class="tableCell">Solutions</div>
                    
                    
                        <div class="tableCell">1</div>
                        <div class="tableCell">No Tutorial</div>
                        <div class="tableCell">None</div>
                        <div class="tableCell">None</div>
                    
                    
                        <div class="tableCell">2</div>
                        <div class="tableCell">Worst Case Complexity</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">3</div>
                        <div class="tableCell">AVL Trees Insert/Delete</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">4</div>
                        <div class="tableCell">Practice Term test format</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">5</div>
                        <div class="tableCell">Graph Search Algorithms</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">6</div>
                        <div class="tableCell">MSTs and Prims Algorithm</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">7</div>
                        <div class="tableCell">Dijkstra</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">8</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">9</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">10</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">11</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    
                    
                        <div class="tableCell">12</div>
                        <div class="tableCell">Filler</div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Handout</a></div>
                        <div class="tableCell"><a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/tutorials/w2.pdf" class="links" target="_blank">Solutions</a></div>
                    </div>
                </div>
            </div>
            <!-- Calendar Card -->
            <div class="card">
                <a name="calendar" href="./index.html#calendar" class="titleLink">
                    <h1 class="cardTitle">
                    Calendar
                    </h1>
                </a>
                <div class="cardContent">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=ZjJvb2dxbmZvMXE3MjhrM2xjYnRyNHY0NzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E" 
                            class="desktopCalendar"
                            frameborder="0" 
                            scrolling="no">
                    </iframe>
                    <iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=ZjJvb2dxbmZvMXE3MjhrM2xjYnRyNHY0NzhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E&amp;mode=WEEK" 
                            class="mobileCalendar"
                            frameborder="0" 
                            scrolling="no">
                    </iframe>
                </div>
            </div>
        </div>
        <!-- Footer Credits -->
        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>