<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/mainlayout.css">
        <link rel="stylesheet" href="../static/css/lectures.css">
        <link rel="stylesheet" href="../static/css/card.css">
        <link rel="stylesheet" href="../static/css/table.css">
        
    </head>
    <body>
        <!-- Header Navigation Bar -->
        <header>
            <div id="headerNav">
                <h3 id="navTitle">CSCB63</h3>
                <nav>
                    <ul class="desktopList">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./index.html#courseTeam">Course Team</a></li>
                        <li><a href="./lectures.html">Lectures</a></li>
                        <li><a href="./assignments.html">Course Work</a></li>
                        <li><a href="https://forms.gle/YGwBkKVCyoEG7zbGA" target="_blank">Feedback</a></li>
                        <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb63w21" target="_blank">MarkUs</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="lecturePageTitle">Lectures & Tutorials</h1>
            <!-- Week 1 -->
            <div class="card">
                <a name="#weekOne" href="./lectures.html#weekOne" class="links">
                    <h1 class="cardTitle">
                        
                        Week 1 - Intro, Worst Case Complexity
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial: None
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 2 Card -->
            <div class="card">
                <a name="#weekTwo" href="./lectures.html#weekTwo" class="links">
                    <h1 class="cardTitle">
                        
                        Week 2 - Balanced AVL Trees
                        
                    </h1>
                </a>
                <div class="cardContent">
                   <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Worst Case Complexity): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Handout</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 3 Card -->
            <div class="card">
                <a name="#weekThree" href="./lectures.html#weekThree" class="links">
                <h1 class="cardTitle">
                    
                        Week 3 - AVL Trees, Height, and Aug. Interval Trees
                    
                </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 4 Card -->
            <div class="card">
                <a name="#weekFour" href="./lectures.html#weekFour" class="links">
                    <h1 class="cardTitle">
                        
                        Week 4 - Interval Trees Cont., Heaps and Graph Search Algorithms
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (AVL Trees, Height, and Aug. Interval Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 5 Card -->
            <div class="card">
                <a name="#weekFive" href="./lectures.html#weekFive" class="links">
                    <h1 class="cardTitle">
                        
                        Week 5 - Graph Searches and Minimum Spanning Trees
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Interval Trees Cont., Heaps and Graph Search Algorithms): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 6 Card -->
            <div class="card">
                <a name="#weekSix" href="./lectures.html#weekSix" class="links">
                    <h1 class="cardTitle">
                        
                        Week 6 - Filler
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Graph Searches and Minimum Spanning Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 7 Card -->
            <div class="card">
                <a name="#weekSeven" href="./lectures.html#weekSeven" class="links">
                    <h1 class="cardTitle">
                        
                        Week 7 - Filler
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 8 Card -->
            <div class="card">
                <a name="#weekEight" href="./lectures.html#weekEight" class="links">
                    <h1 class="cardTitle">
                        
                        Week 8 - Filler
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 9 Card -->
            <div class="card">
                <a name="#weekNine" href="./lectures.html#weekNine" class="links">
                    <h1 class="cardTitle">
                        
                        Week 9 - Filler
                    
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 10 Card -->
            <div class="card">
                <a name="#weekTen" href="./lectures.html#weekTen" class="links">
                    <h1 class="cardTitle">
                        
                        Week 10 - Filler
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 11 Card -->
            <div class="card">
                <a name="#weekEleven" href="./lectures.html#weekEleven" class="links">
                    <h1 class="cardTitle">
                        
                        Week 11 - Filler
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Week 12 Card -->
            <div class="card">
                <a name="#weekTwelve" href="./lectures.html#weekTwelve" class="links">
                    <h1 class="cardTitle">
                        
                        Week 12 - Filler
                    
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            Wed Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            Thursday Pre-Lecture Reading/Exercise: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Wed Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            Thursday Slides/Recording: <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            Tutorial (Balanced AVL Trees): <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Solutions</a>
                        </p>
                    </div>
                </div>
            </div>        
        </div>
        <!-- Footer Credits -->
        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>