<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Lectures</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/lectures.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            {% if name%}
                <h1 class="title" id="lecturePageTitle">{{name}}'s Lectures</h1>
            {% else %}
                <h1 class="title" id="lecturePageTitle">Lectures</h1>
            {% endif %}
            {% if instructor %}
                <div id="alignRight">
                    <button id="coursePdfButton" class="customButton">Add Course Wide PDF</button>
                    <button id="lecture" class="customButton">Add/Update Lecture</button>
                </div>
                <!-- Course PDF -->
                <div id="coursePdf" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Course Wide PDF...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="week">Week #(Only 1 week)</label>
                                <input type="text" name="week" placeholder="ie:1,2,3,4..." required>
                                <label for="courseWidePdf" class="requiredInput">Course Wide File (1 PDF)</label>
                                <input type="file" class="fileInput" name="courseWidePdf" accept=".pdf" required>
                                <input type=submit value="Upload Files" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Lecture Modal -->
                <div id="lectureModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Lecture Card...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="week">Week #(Only 1 week)</label>
                                <input type="text" name="week" placeholder="ie:1,2,3,4..." required>
                                <label class="requiredInput" for="lecture_title">Lecture Title</label>
                                <input type="text" name="lecture_title" placeholder="Lecture Title..." required>
                                <label for="instructor_pdf">Instructor Notes (PDF)</label>
                                <input type="file" class="fileInput" name="instructor_pdf" accept=".pdf" multiple>
                                <label for="tues_recording">Tues Recording</label>
                                <input type="text" name="tues_recording" placeholder="Tues Recording Link...">
                                <label for="thurs_recording">Thurs Recording</label>
                                <input type="text" name="thurs_recording" placeholder="Thurs Recording Link...">
                                <input type=submit value="Create Lecture" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Lecture Cards -->
            {% for lecture in instructor_lecture_material%}
                <div class="card">
                    <a name="{{lecture["week"]}}" href="{{url_for('.lectures',id=id)}}#{{lecture["week"]}}" class="links">
                        <h1 class="cardTitle">Week {{lecture["week"]}} - {{lecture["lecture_title"]}}</h1>
                    </a>
                    <div class="cardContent">
                        <div class="cardSection">
                            <span class="subtitle">Course PDFs:</span>
                            {% for pdf in general_lecture_material%}
                                {% if pdf["week"] == lecture["week"]%}
                                    <p><a href="/pdfs/{{pdf["pdf_id"]}}" class="links" target="_blank">{{pdf["pdf_name"]}}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cardSection">
                            <span class="subtitle">Instructor PDFs:</span>
                            {% for pdf in instructor_pdfs%}
                                {% if pdf["week"] == lecture["week"]%}
                                    <p><a href="/pdfs/{{pdf["pdf_id"]}}" class="links" target="_blank">{{pdf["pdf_name"]}}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">First Recording:</span>
                                {% if lecture["tues_recording"] %}
                                    <a href="{{lecture["tues_recording"]}}" class="links" target="_blank">Recording</a>
                                {% else %}
                                    <a class="links" target="_blank">None</a>
                                {% endif %}
                            </p>
                            <p>
                                <span class="subtitle">Second Recording:</span>
                                {% if lecture["thurs_recording"]%}
                                    <a href="{{lecture["thurs_recording"]}}" class="links" target="_blank">Recording</a>
                                {% else %}
                                    <a class="links" target="_blank">None</a>
                                {% endif%}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{{url_for('static', filename='javascript/lectures.js')}}"></script>
        {% endblock %}
    </body>
</html>