<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Links to Resources</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/courseWork.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!-- TODO:::: CREATE A COURSE FEEDBACK PAGE WHERE STUDENTS CAN GIVE FEEDBACK TO PROFS AND TA's AND TA's/Prof's CAN READ FEEDBACK FOR THEM-->
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="assignmentPageTitle">Links</h1>
            <!-- Tests Card -->
            <div class="card">
                <a name="resources" href="{{url_for('.links')}}#resources" class="links">
                    <h1 class="cardTitle">
                        
                        Additional Resources
                        
                    </h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Piazza Discussion Board:</span> 
                            <a href="https://piazza.com/class/kk052lckppx73x" class="links" target="_blank">[Link]</a> 
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Markus:</span> 
                            <a href="https://markus.utsc.utoronto.ca/cscb20w21" class="links" target="_blank">[Link]</a> 
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">LaTeX Installation:</span> 
                            <a href="http://latex-project.org/ftp.html" class="links" target="_blank">[Link]</a> 
                        </p>
                        <p>
                            <span class="subtitle">LaTeX Guide:</span> 
                            <a href="http://tobi.oetiker.ch/lshort/lshort.pdf" class="links" target="_blank">[Link]</a> 
                        </p>
                        <p>
                            <span class="subtitle">LaTeX Template:</span> 
                            <a href="https://mathlab.utsc.utoronto.ca/bretscher/b63/lectures/template.tex" class="links" target="_blank">[Link]</a> 
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Course Feedback Form (Anonymous)</span> 
                            <a href="https://forms.gle/YGwBkKVCyoEG7zbGA" class="links" target="_blank">[Link]</a> 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>