<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Tutorials</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/lectures.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!-- TODO:::: ADD card for each assignment put table of students that have submitted to assignment -->
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
        
        </div>
        {% endblock %}
    </body>
</html>