<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>My Profile</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/profile.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{url_for('static', filename='javascript/profile.js')}}"></script>
    </head>
    <body>
        <!-- TODO:::: CREATE A COURSE FEEDBACK PAGE WHERE STUDENTS CAN GIVE FEEDBACK TO PROFS AND TA's AND TA's/Prof's CAN READ FEEDBACK FOR THEM-->
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="assignmentPageTitle">My Profile</h1>
            <button id="editB" class="customButton" style="align-self: flex-end;margin-bottom: 20px;">Edit Profile</button>
            <!-- Tests Card -->
            <div class="card">
                <h1 class="cardTitle"> {{user_info[0]["first_name"].lower().capitalize()+' '+user_info[0]["last_name"].lower().capitalize()}} </h1>
                <div class="cardContent">
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Instructor Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="cardTitle">Editing Profile...</p>
                            <div class="cardContent">
                                <p>
                                    <form method="post" enctype="multipart/form-data">
                                        <label class="subtitle">Update Profile Picture</label>
                                        <input type="file" class="fileInput" name="courseWidePdf" accept="image/*">
                                        <label for="courseWidePdf" class="subtitle">Update Syllabus</label>
                                        <input type="file" class="fileInput" name="courseWidePdf" accept=".pdf">
                                        <label class="subtitle" for="week">Update Office</label>
                                        <input type="text" name="week" placeholder="Enter Office Location">
                                        <label class="subtitle" for="week">Update Office Hours</label>
                                        <input type="text" name="week" placeholder="Enter Office Hours Schedule">
                                        <label class="subtitle" for="week">Update Office Hours Link</label>
                                        <input type="text" name="week" placeholder="Enter Office Hours Meeting Link">
                                        <input type="submit" value="Update" id="createButton">
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if user_type != 2 %}
                        <div class="cardPicture">
                            {% if user_type == 1 and user_info[0]["ta_picture"] %}
                                <img src="data:image/png;base64,{{user_info[0]["ta_picture"]}}" alt="Picture of Instructor"> 
                            {% elif user_type == 0 and user_info[0]["instructor_picture"] %}
                                <img src="data:image/png;base64,{{user_info[0]["instructor_picture"]}}" alt="Picture of Instructor"> 
                            {% else %}
                                <img src="../static/placeholder.png" class="picture" alt="Picture of Instructor">
                            {% endif %}
                        </div>
                        {% if user_type == 0 %}
                            <div class="cardSection">
                                <p>
                                    <span class="subtitle">Syllabus:</span> 
                                    {% if syllabus["pdf_id"] %}
                                        <span class="data"><a href="/pdfs/{{syllabus["pdf_id"]}}" class="links" target="_blank">{{syllabus["pdf_name"]}}</a></p>
                                    {% else %}
                                        <span class="data">Coming Soon</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="cardSection">
                                <p>
                                    <span class="subtitle">Office:</span> 
                                    {% if user_info[0]["office"] %}
                                        <span class="data"> {{user_info[0]["office"]}} </span>
                                    {% else %}
                                        <span class="data">Coming Soon</span>
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Office Hours:</span> 
                                {% if user_info[0]["office_hours"] %}
                                    <p> {{user_info[0]["office_hours"]}} </p>
                                {% else %}
                                    <span class="data">Coming Soon</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Office Hours Link:</span> 
                                {% if user_info[0]["office_hours_link"] %}
                                    <a href="{{user_info[0]["office_hours_link"]}}" class="links" target="_blank">[Link]</a> 
                                {% else %}
                                    <span class="data">Coming Soon</span>
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>