<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>My Profile</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/profile.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/index.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{url_for('static', filename='javascript/profile.js')}}"></script>
    </head>
    <body>
        <!-- TODO:::: CREATE A COURSE FEEDBACK PAGE WHERE STUDENTS CAN GIVE FEEDBACK TO PROFS AND TA's AND TA's/Prof's CAN READ FEEDBACK FOR THEM-->
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="assignmentPageTitle">My Profile</h1>
            <div id="alignRight">
                <button id="editA" class="customButton">Edit Account</button>
                <button id="editB" class="customButton">Edit Profile</button>
            </div>
            <!-- Profile Card -->
            <div class="card">
                <h1 class="cardTitle"> {{user_info[0]["first_name"].lower().capitalize()+' '+user_info[0]["last_name"].lower().capitalize()}} </h1>
                <div class="cardContent">
                    <!-- Edit Account Modal -->
                    <div id="account_modal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="cardTitle">Editing Account...</p>
                            <div class="cardContent">
                                <p>
                                    <form method="post" enctype="multipart/form-data">
                                        <label for="username" class="subtitle">Change Email</label>
                                        <input type="text" name="email" placeholder="Enter new email">
                                        <label for="password" class="subtitle">Change Password</label>
                                        <input type="text" name="password" placeholder="Enter new password">
                                        <input type="submit" value="Update" id="createButton">
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Edit Profile Modal -->
                    <div id="profile_modal" class="modal">
                        <!-- Instructor Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="cardTitle">Editing Profile...</p>
                            <div class="cardContent">
                                <p>
                                    <form method="post" enctype="multipart/form-data">
                                        {% if user_type != 2 %}
                                            <label for="picture" class="subtitle">Update Profile Picture</label>
                                            <input type="file" class="fileInput" name="picture" accept="image/*">
                                            {% if user_type == 0 %}
                                                <label for="syllabus" class="subtitle">Update Syllabus</label>
                                                <input type="file" class="fileInput" name="syllabus" accept=".pdf">
                                                <label class="subtitle" for="office">Update Office</label>                                            
                                                <input type="text" name="office" placeholder="Enter Office Location">
                                            {% endif %}
                                            <label class="subtitle" for="office_hours">Update Office Hours</label>
                                            <input type="text" name="office_hours" placeholder="Enter Office Hours Schedule">
                                            <label class="subtitle" for="office_hours_link">Update Office Hours Link</label>
                                            <input type="text" name="office_hours_link" placeholder="Enter Office Hours Meeting Link">
                                        {% else %}
                                            <label class="subtitle">Change Instructor</label>
                                            <select name="prof" id="prof">
                                                {% if user_info[0]["instructor_code"] %}
                                                    <option value="NULL">None selected</option>
                                                {% else %}
                                                    <option value="NULL" selected>None selected</option>
                                                {% endif %}
                                                {% for prof in prof_list %}
                                                    {% if prof["instructor_code"] == user_info[0]["instructor_code"] %}
                                                        <option value="{{prof["instructor_code"]}}" selected>{{prof["first_name"]}} {{prof["last_name"]}}</option>
                                                    {% else %}
                                                        <option value="{{prof["instructor_code"]}}">{{prof["first_name"]}} {{prof["last_name"]}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <label class="subtitle">Change TA</label>
                                            <select name="ta" id="ta">
                                                {% if user_info[0]["ta_code"] %}
                                                    <option value="NULL">None selected</option>
                                                {% else %}
                                                    <option value="NULL" selected>None selected</option>
                                                {% endif %}
                                                {% for ta in ta_list %}
                                                    {% if ta["ta_code"] == user_info[0]["ta_code"] %}
                                                        <option value="{{ta["ta_code"]}}" selected>{{ta["first_name"]}} {{ta["last_name"]}}</option>
                                                    {% else %}
                                                        <option value="{{ta["ta_code"]}}">{{ta["first_name"]}} {{ta["last_name"]}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                              </select>
                                        {% endif %}
                                        <input type="submit" value="Update" id="createButton">
                                    </form>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if user_type != 2 %}
                        <div class="cardPicture">
                            {% if pic %}
                                <img src="data:image/png;base64,{{pic}}" alt="Picture of Instructor"> 
                            {% else %}
                                <img src="../static/placeholder.png" class="picture" alt="Picture of Instructor">
                            {% endif %}
                        </div>
                        {% if user_type == 0 %}
                            <div class="cardSection">
                                <p>
                                    <span class="subtitle">Syllabus:</span> 
                                    {% if syllabus["pdf_id"] %}
                                        <span class="data"><a href="/pdfs/{{syllabus["pdf_id"]}}" class="links" target="_blank">{{syllabus["pdf_name"]}}</a></p>
                                    {% else %}
                                        <span class="data">Coming Soon</span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="cardSection">
                                <p>
                                    <span class="subtitle">Office:</span> 
                                    {% if user_info[0]["office"] %}
                                        <span class="data"> {{user_info[0]["office"]}} </span>
                                    {% else %}
                                        <span class="data">Coming Soon</span>
                                    {% endif %}
                                </p>
                            </div>
                        {% endif %}
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Office Hours:</span> 
                                {% if user_info[0]["office_hours"] %}
                                    <span class="data"> {{user_info[0]["office_hours"]}} </span>
                                {% else %}
                                    <span class="data">Coming Soon</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Office Hours Link:</span> 
                                {% if user_info[0]["office_hours_link"] %}
                                    <a href="{{user_info[0]["office_hours_link"]}}" class="links" target="_blank">[Link]</a> 
                                {% else %}
                                    <span class="data">Coming Soon</span>
                                {% endif %}
                            </p>
                        </div>
                    {% else %}    
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Email:</span> 
                                {% if user_info[0]["email"] %}
                                    <span class="data"> {{user_info[0]["email"]}} </span>
                                {% else %}
                                    <span class="data">Coming Soon</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Instructor:</span> 
                                {% if user_info[0]["instructor_code"] %}
                                    {% for prof in prof_list %}
                                        {% if prof["instructor_code"] == user_info[0]["instructor_code"] %}
                                            <span class="data"> {{prof["first_name"]}} {{prof["last_name"]}} </span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="data">None Selected</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">TA:</span> 
                                {% if user_info[0]["ta_code"] %}
                                    {% for ta in ta_list %}
                                        {% if ta["ta_code"] == user_info[0]["ta_code"] %}
                                            <span class="data"> {{ta["first_name"]}} {{ta["last_name"]}} </span>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="data">None Selected</span>
                                {% endif %}
                            </p>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>