<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Parent Template</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/mainlayout.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <!-- TODO:::: ADD A MOBILE FRIENDLY NAVIGATION BAR -->
        <!-- TODO:::: ADD MARKING NAV ROUTE FOR *ONLY* TA/INSTRUCTORS -->
        <!-- Header Navigation Bar -->
        <header>
            <div id="headerNav">
                <h3 id="navTitle">CSCB63</h3>
                <nav>
                    <ul class="desktopList">
                        <li><a href="{{url_for('.home')}}">Home</a></li>
                        {% if ta_level %}
                            <li><a href="{{url_for('.marking')}}">Marking</a></li>
                        {% endif %}
                        {% if instructor_id %}
                            <li><a href="{{url_for('.lectures',id=instructor_id)}}">Lectures</a></li>
                        {% endif %}
                        {% if ta_id%}
                            <li><a href="{{url_for('.tutorials',id=ta_id)}}">Tutorials</a></li>
                        {% endif %}
                        <li><a href="{{url_for('.coursework')}}">Course Work</a></li>
                        <li><a href="{{url_for('.feedback')}}">Feedback</a></li>
                        <li><a href="{{url_for('.profile')}}">My Profile</a></li>
                        <li><a href="{{url_for('.links')}}">Links</a></li>
                        <li><a href="{{url_for('.logout')}}" id="logout">Log Out</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {%block content%}
        {%endblock%}
        <!-- Footer Credits -->
        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank" class="links" id="faculty">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>