<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Tutorials</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/lectures.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="lecturePageTitle">Tutorials</h1>
            {% if ta %}
                <div id="alignRight">
                    <button id="coursePdfButton" class="customButton">Add Course Wide Tutorial PDF</button>
                    <button id="tutorial" class="customButton">Add/Update Tutorial</button>
                </div>
                <!-- Course PDF -->
                <div id="courseTutPdf" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Course Wide Tutorial PDF...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="week">Week #(Only 1 week)</label>
                                <input type="text" name="week" placeholder="ie:1,2,3,4..." required>
                                <label for="courseWideTutPdf" class="requiredInput">Course Wide File (1 PDF)</label>
                                <input type="file" class="fileInput" name="courseWideTutPdf" accept=".pdf" required>
                                <input type=submit value="Upload Files" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tutorial Modal -->
                <div id="tutorialModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Tutorial Card...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="week">Week #(Only 1 week)</label>
                                <input type="text" name="week" placeholder="ie:1,2,3,4..." required>
                                <label for="ta_pdf">Tutorial Notes (PDF)</label>
                                <input type="file" class="fileInput" name="ta_pdf" accept=".pdf" multiple>
                                <label for="recording_link">Recording link</label>
                                <input type="text" name="recording_link" placeholder="Recording Link...">
                                <input type=submit value="Create Tutorial" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Tutorial Cards -->
            {% for tutorial in ta_tutorial_material%}
                <div class="card">
                    <a name="{{tutorial["week"]}}" href="{{url_for('.tutorials',id=id)}}#{{tutorial["week"]}}" class="links">
                        <h1 class="cardTitle">Week {{tutorial["week"]}}</h1>
                    </a>
                    <div class="cardContent">
                        <div class="cardSection">
                            <span class="subtitle">Course Tutorial PDFs:</span>
                            {% for pdf in general_tutorial_material%}
                                {% if pdf["week"] == tutorial["week"]%}
                                    <p><a href="/pdfs/{{pdf["pdf_id"]}}" class="links" target="_blank">{{pdf["pdf_name"]}}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cardSection">
                            <span class="subtitle">TA PDFs:</span>
                            {% for pdf in ta_pdfs%}
                                {% if pdf["week"] == tutorial["week"]%}
                                    <p><a href="/pdfs/{{pdf["pdf_id"]}}" class="links" target="_blank">{{pdf["pdf_name"]}}</a></p>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cardSection">
                            <p>
                                <span class="subtitle">Recording:</span>
                                {% if tutorial["recording_link"]%}
                                    <a href="{{tutorial["recording_link"]}}" class="links" target="_blank">Recording</a>
                                {% else %}
                                    <a class="links" target="_blank">None</a>
                                {% endif%}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="{{url_for('static', filename='javascript/tutorials.js')}}"></script>
        {% endblock %}
    </body>
</html>