<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Tutorials</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/lectures.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/card.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/form.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/modal.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='css/button.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <!-- TODO:::: ADD Tutorials FROM DATABASE AND USE JINJA2 TO REPEATEDLY GENERATE THE LECTURE CARDS -->
        {% extends "template.html" %}
        {% block content %}
        <!-- Page Content -->
        <div class="content">
            <h1 class="title" id="lecturePageTitle">Lectures</h1>
            {% if qi %}
                <div id="alignRight">
                    <button id="coursePdfButton" class="customButton">Add Course Wide PDF</button>
                    <button id="lecture" class="customButton">Add Lecture</button>
                </div>
                <!-- Course PDF -->
                <div id="coursePdf" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Course Wide PDF...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="week">Week #(Only 1 week)</label>
                                <input type="text" name="week" placeholder="ie:1,2,3,4..." required>
                                <label for"instructor_pdf" class="requiredInput">Course Wide File (1 PDF)</label>
                                <input type="file" class="fileInput" name="courseWidePdf" accept=".pdf" required>
                                <input type=submit value="Upload Files" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Lecture Modal -->
                <div id="lectureModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p class="cardTitle">Adding Lecture Card...</p>
                        <div class="cardContent">
                            <form method="post" enctype="multipart/form-data">
                                <label class="requiredInput" for="lecture_title">Lecture Title</label>
                                <input type="text" name="lecture_title" placeholder="Lecture Title..." required>
                                <label for"instructor_pdf">Instructor Notes (PDF)</label>
                                <input type="file" class="fileInput" name="instructor_pdf" accept=".pdf" multiple>
                                <label for="tues_recording">Tues Recording</label>
                                <input type="text" name="tues_recording" placeholder="Tues Recording Link...">
                                <label for="thurs_recording">Thurs Recording</label>
                                <input type="text" name="thurs_recording" placeholder="Thurs Recording Link...">
                                <input type=submit value="Create Lecture" id="createButton">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- Lecture Cards -->
            <div class="card">
                <a name="weekOne" href="{{url_for('.lectures')}}#weekOne" class="links">
                    <h1 class="cardTitle">Week 1 - Intro, Worst Case Complexity</h1>
                </a>
                <div class="cardContent">
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Wed Pre-Lecture Reading/Exercise:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                        <p>
                            <span class="subtitle">Thursday Pre-Lecture Reading/Exercise:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">PDF</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Wed Slides/Recording:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                        <p>
                            <span class="subtitle">Thursday Slides/Recording:</span> <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Worksheet</a>, 
                            <a href="../pdfs/fillerPDF.pdf" class="links" target="_blank">Recording</a>
                        </p>
                    </div>
                    <div class="cardSection">
                        <p>
                            <span class="subtitle">Tutorial:</span> None
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='javascript/lectures.js')}}"></script>
        {% endblock %}
    </body>
</html>