/*Colors*/
h1{
    color:#002A5C;
}

p {
    color: black;
}
.error{
    margin-bottom: 10px;
}
.marks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}