/*Colors*/
h1{
    color:#002A5C;
}

p {
    color: black;
}
.cardPicture{
    margin-right: 20px;
}
.picture{
    border: 5px solid #002A5C;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/* Small Mobile Screen*/
@media (min-width: 320px) {
    #desktopCalendar{
        background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;
        visibility: collapse;
        display: none;
    }
    #mobileCalendar{
        background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;
        width:100%;
        height:600px; 
    }
    #multi-left{
        width: 100%;
        margin-right: 0;
    }
    #multi{
        width:100%;
    }
}

/* Desktop Screen */
@media (min-width: 1400px) {
    #desktopCalendar{
        width:100%;
        height:600px; 
        visibility: visible;
        display: block;
    }
    #mobileCalendar{
        visibility: collapse;
        display: none;
    }
    #multi-left{
        width: 47%;
        margin-right: 3%;
    }
    #multi{
        width:50%
    }
}



  