/* Shared Card Styling*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
    box-shadow:  2px 2px 10px #8E8E8E;
    min-width: 550px;
    border-radius: 5px;
}

.cardSection{
    padding-bottom: 10px;
}

/* Multicard Layout */
.multiCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
/*Card Title Links*/
.titleLink{
    text-decoration: none;
}
.titleLink:hover{
    text-decoration: underline;
}

/*Instructor Card Layout*/
.cardContent#instructorGrid{
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}
/*Course Team Card Layout*/
.cardContent#teamGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Small Mobile Screen*/
@media (min-width: 320px) {
    .cardTitle,
    .cardContent{
        padding: 10px;
    }
    .cardTitle{
        font-size: 40px;
    }

}
/* Tablet Screen and Bigger */
@media (min-width: 900px) {
    
    .cardTitle{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .cardContent{
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 30px;
    }

}