#courseTitle{
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Colors*/
h1,p{
    color:#002A5C;
}
/* Small Mobile Screen*/
@media (min-width: 320px) {
    .desktopCalendar{
        visibility: collapse;
        display: none;
    }
    .mobileCalendar{
        width:100%;
        height:400px; 
    }
}

/* Desktop Screen */
@media (min-width: 900px) {
    .desktopCalendar{
        width:100%;
        height:600px; 
        visibility: visible;
        display: block;
    }
    .mobileCalendar{
        visibility: collapse;
        display: none;
    }
}



  