#courseTitle{
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Colors*/
h1,p{
    color:#002A5C;
}
/* Small Mobile Screen*/
@media (min-width: 320px) {
    #desktopCalendar{
        background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;
        visibility: collapse;
        display: none;
    }
    #mobileCalendar{
        background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;
        width:100%;
        height:600px; 
    }
}

/* Desktop Screen */
@media (min-width: 900px) {
    #desktopCalendar{
        width:100%;
        height:600px; 
        visibility: visible;
        display: block;
    }
    #mobileCalendar{
        visibility: collapse;
        display: none;
    }
}



  