* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;    
}
body {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;

    color: #002A5C;
    background-color: #F8F8F8;
}
/**START HEADER**/
header{
    position: fixed;
    top: 0;
    width: 100%;
}
/*Course Code*/
#navTitle{
    align-self: center;
    padding-left: 20px;
    color: white;
    font-size: 30px;
}
/* Nav Bar Layout */
#headerNav{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    
    background-color: #002A5C;
}
nav{
    display: flex;
    align-items: stretch;
}
.desktopList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
}
#headerNav li{
    padding: 5px;
    display: block;
}

#headerNav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 5px;
}
#headerNav li:hover,#headerNav li a:hover{
    background-color: #2D3B45;
}
/**END HEADER**/
/* Page Content*/
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/** START FOOTER **/
footer{
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    color: white;
    background-color: #002A5C;
    font-size: 12px;
    
    padding-top: 10px;
    padding-bottom: 5px;
}
footer a{
    color: white;
    text-decoration: none;
}


/* Phone Screen */
@media (min-width: 320px) {
    body{
        font-family: 'Roboto', sans-serif;
        font-size: xx-large;
    }
    .content{
        padding:10px;
        padding-top: 125px;
    }
}
/* Desktop Screen */
@media (min-width: 900px) {
    body{
        font-family: 'Roboto', sans-serif;
        font-size: medium;
    }
    .content{
        padding:100px;
        padding-top:70px;
    }
}
