.table{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 0 0;
    align-items: stretch;
    justify-items: stretch;
}
.tableCell{
    padding: 8px;
    border: 1px solid #2D3B45;
}
.table#coursework{
    grid-template-columns: repeat(6, auto);
}
