<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <title>Parent Template</title>
        <link rel="stylesheet" href="{{url_for('static', filename ='css/template.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul class="desktopList">
                        <li><a href="{{url_for('index')}}">Home</a></li>
                        <li><a href="{{url_for('index')}}#courseTeam">Course Team</a></li>
                        <li><a href="{{url_for('assignments')}}">Assignments</a></li>
                        <li><a href="{{url_for('assignments')}}#labs">Labs</a></li>
                        <li><a href="{{url_for('assignments')}}#feedback">Feedback</a></li>
                        <li><a href="">Syllabus</a></li>
                        <li><a href="http://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home" target="_blank">Piazza</a></li>
                        <li><a href="https://markus.utsc.utoronto.ca/cscb63w21" target="_blank">MarkUs</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        {%block content%}
        {%endblock%}

        <footer>
            Created by David Huynh and Collin Chan
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Faculty of Computer Science at UofT</a>
        </footer>
    </body>
</html>
